@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/meh5uoe.css");


body {
  background: white;
  font-family: 'Elza', sans-serif;
}

.post-content h1{
  @apply text-3xl;
  @apply pt-5;
  @apply pb-3;
}
.post-content h2{
  @apply text-3xl;
  @apply pt-5;
  @apply pb-3;
}
.post-content h3{
  @apply text-2xl;
  @apply pt-7;
  @apply pb-1;
}

.post-content p {
  @apply pt-4
}

.brand-font {
  font-family: 'Desire Pro', serif;
}

.base-font {
  font-family: 'Elza', serif;
}

